<table class="table">
	<thead>
	<tr>
		<td>ID</td>
		<td>Name</td>
		<td>Age</td>
		<td>Gender</td>
	</tr>
	</thead>
	<tbody>
		<% @character.each do |post| %>
		<tr>
			<td><%= post.id %></td>
			<td><%= post.name %></td>
			<td><%= post.age %></td>
			<td><%= post.gender %></td>
			<td><%= link_to "Edit", edit_characters_path(@character.id) %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<%= link_to 'Create a new character', 'new' %>