<h1>All Characters</h1>
<table class="table">
	<thead>
	<tr>
		<td>ID</td>
		<td>Name</td>
		<td>Age</td>
		<td>Gender</td>
	</tr>
	</thead>
	<tbody>
		<% @character.each do |character| %>
		<tr>
			<td><%= character.id %></td>
			<td><%= character.name %></td>
			<td><%= character.age %></td>
			<td><%= character.gender %></td>
			<td><%= link_to "Edit", edit_character_path(character) %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<%= link_to 'Create a new character', 'characters/new' %>